/*
 general styles
 *************************************************/
body {
  margin-top: 30px;
  overflow-y: hidden;
}

h2 {
  color: #36A582;
  font-style: oblique;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

/*
 Page focus
 *************************************************/
.focus {
  height: 280px;
}


/*
 Cart
 *************************************************/
.cart {
  position: fixed;
  right:0px;
  top: 0px;
  bottom: 0px;
}

.cart h2 {
  text-align: center;
}

.cart ul {
  overflow-y: scroll;
  height: 100%;
}

.cart li.list-group-item {
  height: 55px;
  padding: 0px;
  overflow: hidden;
  text-align: left;
  margin: 3px;
  border-radius: 5px;
}

.cart li.list-group-item img {
  float: left;
  height: 53px;
  width: 67px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  padding: 0px;
  margin: 0px;
}

.cart li.list-group-item span.brand {
  display: none;
}

.cart li.list-group-item span.name {
  margin: 17px auto 17px 75px;
  display: block;
  color: #e35755;
  font-size: 12px;
}

.cart li.list-group-item span.price {
  display: none;
}

/*
 Available products
 *************************************************/

.available-products span.brand {
  display: block;
  color: grey;
  font-size: 17px;
  margin-top: 5px;
}

.available-products span.name {
  margin-top: 15px;
  display: block;
  color: #e35755;
  font-size: 17px;
  font-weight: 600;
}

.available-products span.price {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}

.available-products .flip-container {
  perspective: 1000;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0px;
  float: left;
  width: 150px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  margin: 3px;
}

.available-products .flip-container:hover .flipper,
.available-products .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.available-products .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.available-products .front,
.available-products .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.available-products .front {
  z-index: 2;
}

.available-products .back {
  transform: rotateY(180deg);
}
